---
layout: splash
permalink: /
hidden: true
title: St.Mary & St.John Fisher Parish
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/stm_blur.png
  actions:
    - label: "<i class='fas fa-download'></i> Newsletter"
      url: "/docs/quick-start-guide/"
excerpt: >
  Welcome to the Catholic Parish of St Mary & St John Fisher! Denton, Manchester. <br />
  <small><a href="/new-to-the-church/">New to our Parish?</a></small>
feature_row:
  - title: "Sacraments"
    excerpt: "Everything from the menus, sidebars, comments, and more can be configured or set with YAML Front Matter."
    url: "/docs/configuration/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - title: "Donations & Gift Aid"
    excerpt: "Built with HTML5 + CSS3. All layouts are fully responsive with helpers to augment your content."
    url: "/docs/layouts/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - title: "About Us"
    excerpt: "Free to use however you want under the MIT License. Clone it, fork it, customize it... whatever!"
    url: "/docs/license/"
    btn_class: "btn--primary"
    btn_label: "Learn more"      
---

<div class="text-center bg-blue">
  <h3>Sunday Mass Timings</h3>
  {% for mass in site.parish.sundaymass%}
    <div><b>{{mass.label}}</b> on {{mass.day}} at {{mass.time}}</div>
  {% endfor %}
  <hr>
</div>

{% include feature_row %}

<div class="text-center">
  <h5>Find Us</h5>
<h6>St Mary's Catholic Church</h6>
<p>Duke St, Denton, Manchester </p>
<p>M34 2AN</p>
<p><a href="https://www.google.co.uk/maps/dir//St+Mary's+Catholic+Church,+Duke+St,+Denton,+Manchester+M34+2AN/@53.4541193,-2.1188711,16z/data=!4m18!1m8!3m7!1s0x487bb4293ce1da91:0x795c555d3eaedc14!2sSt+Mary's+Catholic+Church!8m2!3d53.4541372!4d-2.1140462!15sChVzdCBtYXJ5IGNodXJjaCBkZW50b26SAQ9jYXRob2xpY19jaHVyY2jgAQA!16s%2Fg%2F1thmdz0r!4m8!1m0!1m5!1m1!1s0x487bb4293ce1da91:0x795c555d3eaedc14!2m2!1d-2.1138371!2d53.454119!3e3?entry=ttu&g_ep=EgoyMDI1MDQwMi4xIKXMDSoASAFQAw%3D%3D">Click Here if you want driving instructions!</a></p>

</div>
<div class="mapouter" style="width: 100%;margin-top: 10px;"><div class="gmap_canvas" style="width: 100%;"><iframe style="width: 100%;" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=st%20mary's%20catholic%20church%20denton&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>